@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@300;400;500;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body,
button,
input {
  font-family: "Roboto";
}
::-webkit-scrollbar-thumb {
  background-color: theme("backgroundColor.mainBlue");
  height: 100px;
}
::-webkit-scrollbar-track {
  background-color: #ffff;
  width: 15px;
  @apply shadow-lg;
}
::-webkit-scrollbar {
  background-color: #9d3cff;
  width: 10px;
}

@layer components {
  .icon-btn {
    @apply p-3 rounded-full cursor-pointer shadow-sm;
  }
  .main-btn {
    @apply w-fit  hover:bg-main shadow-md hover:text-mainBlue duration-500 bg-mainBlue text-white;
  }
}
